@using Onebrb.MVC.Components.Shared

<p>Publish new item</p>
<p class="@notifyBarClass">@OnSubmitResult</p>

@if (IsItemCreated)
{
    <div>
        <ButtonLinkComponent Url="@CreatedItemUrl" Text="Click here to view the item" Css="btn btn-primary view-created-item" />
    </div>
}


<EditForm Model="Item" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="itemTitle">
            Title
        </label>
        <InputText @bind-Value="Item.Title" id="itemTitle" class="form-control" disabled="@(IsFormEnabled == false)" />
    </div>

    <div class="form-group">
        <label for="itemCategories">
            Category
        </label>

        <InputSelect @bind-Value="SelectedCategoryId" id="itemCategories" class="form-control" disabled="@(IsFormEnabled == false)">
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label for="itemDescription">
            Description:
        </label>
        <InputTextArea @bind-Value="Item.Description" id="itemDescription" class="form-control" disabled="@(IsFormEnabled == false)" />
    </div>


    <div class="form-group">
        <label for="itemPrice">
            Price
        </label>
        <InputNumber @bind-Value="Item.Price" id="itemPrice" class="form-control" disabled="@(IsFormEnabled == false)" />
    </div>

    <button type="submit" class="@BtnSubmitCss" disabled="@(IsFormEnabled == false)">@PublishBtnText</button>
</EditForm>