@using Onebrb.MVC.Models.Item
@using System.Net.Http
@using System.Text
@using System.Net.Http.Headers
@using Onebrb.MVC.Constants
@using System.Text.Json;
@using Onebrb.MVC.Components.Shared
@inject NavigationManager navigationManager
@inject HttpClient Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<p>Publish new item</p>
<p class="@notifyBarClass">@OnSubmitResult</p>

@if (IsItemCreated)
{
    <div>
        <ButtonLinkComponent Url="@CreatedItemUrl" Text="Click here to view the item" Css="btn btn-primary view-created-item" />
    </div>
}


<EditForm Model="@Item" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="itemTitle">
            Title
        </label>
        <InputText @bind-Value="Item.Title" id="itemTitle" class="form-control" disabled="@(IsFormEnabled == false)" />
    </div>

    <div class="form-group">
        <label for="itemCategories">
            Category
        </label>

        <InputSelect @bind-Value="SelectedCategoryId" id="itemCategories" class="form-control" disabled="@(IsFormEnabled == false)">
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label for="itemDescription">
            Description:
        </label>
        <InputTextArea @bind-Value="Item.Description" id="itemDescription" class="form-control" disabled="@(IsFormEnabled == false)" />
    </div>


    <div class="form-group">
        <label for="itemPrice">
            Price
        </label>
        <InputNumber @bind-Value="Item.Price" id="itemPrice" class="form-control" disabled="@(IsFormEnabled == false)" />
    </div>

    <button type="submit" class="@BtnSubmitCss" disabled="@(IsFormEnabled == false)">@PublishBtnText</button>
</EditForm>
@{
}


@code {
    [Parameter]
    public CreateItemViewModel Model { get; set; }

    [Parameter]
    public string CurrentUserId { get; set; }

    CreateItemRequestModel Item = new CreateItemRequestModel();
    public string SelectedCategoryId { get; set; }

    // Form
    public bool IsFormEnabled { get; set; } = true;

    // Misc
    public string OnSubmitResult { get; set; }
    public string notifyBarClass { get; set; }
    public string OnebrbApiToken { get; set; }

    // Button
    public string PublishBtnText { get; set; } = "Publish";
    public string BtnSubmitCss { get; set; } = $"{BootstrapCssConst.Btn} {BootstrapCssConst.BtnSuccess}";

    public string CreatedItemUrl { get; set; }

    public bool IsItemCreated { get; set; }

    private async Task HandleValidSubmit()
    {
        if (!IsFormEnabled)
        {
            return;
        }

        IsFormEnabled = false;

        notifyBarClass = BootstrapCssConst.AlertInfo;
        OnSubmitResult = $"Please wait...";
        PublishBtnText = "Publishing...";

        string scheme = HttpContextAccessor.HttpContext.Request.Scheme;
        string host = HttpContextAccessor.HttpContext.Request.Host.Value;
        string pathBase = HttpContextAccessor.HttpContext.Request.PathBase;

        string mvcBaseUrl = $"{scheme}://{host}{pathBase}";
        string mvcItemEndpoint = $"{mvcBaseUrl}/items";

        string apiBaseUrl = "https://localhost:44307";
        string createItemEndpoint = $"{apiBaseUrl}/api/Items/Create";
        string itemsEndpoint = $"{apiBaseUrl}/api/Items";

        try
        {
            if (string.IsNullOrWhiteSpace(SelectedCategoryId))
            {
                SelectedCategoryId = @Model.Categories.First().Id.ToString();
            }

            Item.CategoryId = int.Parse(SelectedCategoryId);
            Item.UserId = CurrentUserId;

            var json = JsonSerializer.Serialize(Item);
            var data = new StringContent(json, Encoding.UTF8, "application/json");
            var apiToken = HttpContextAccessor.HttpContext.Request.Cookies["OnebrbApiToken"];

            Http.DefaultRequestHeaders.Authorization =
                new AuthenticationHeaderValue("Bearer", apiToken);

            var response = await Http.PostAsync($"{createItemEndpoint}", data);

            string responseJson = response.Content.ReadAsStringAsync().Result;
            IsFormEnabled = false;
            notifyBarClass = BootstrapCssConst.AlertSuccess;
            var createdItem = JsonSerializer.Deserialize<CreateItemResponseModel>(responseJson, new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true,
            });

            IsItemCreated = true;
            OnSubmitResult = $"The item was published successfuly!";
            PublishBtnText = "Published";
            CreatedItemUrl = $"{mvcItemEndpoint}/{createdItem.Id}";
        }
        catch (Exception)
        {
            notifyBarClass = $"{BootstrapCssConst.AlertDanger}";
            OnSubmitResult = "Couldn't publish the item, please try again later...";
            PublishBtnText = "Publish";
            BtnSubmitCss = $"{BootstrapCssConst.Btn} {BootstrapCssConst.BtnSuccess}";
        }

    }
}
